# Kconfig - MIPS architecture configuration options

#
# Copyright (c) 2017 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

choice
	prompt "MIPS SoC Selection"
	default SOC_SERIES_WOODPECKERFPGA
	depends on MIPS

	source "arch/mips/soc/*/Kconfig.soc"
endchoice

menu "MIPS Options"
	depends on MIPS

config ARCH
	default "mips"

config ARCH_DEFCONFIG
	string
	default "arch/mips/defconfig"

config SRAM_SIZE
	int "SRAM Size in kB"
	help
	This option specifies the size of the SRAM in kB.  It is normally set by
	the board's defconfig file and the user should generally avoid modifying
	it via the menu configuration.

config CACHE_SIZE
	int "CACHE Size in kB"
	help
	This option specifies the size of the CACHE in kB.

config SRAM_BASE_ADDRESS
	hex "SRAM Base Address"
	help
	This option specifies the base address of the SRAM on the board.  It is
	normally set by the board's defconfig file and the user should generally
	avoid modifying it via the menu configuration.

config FLASH_SIZE
	int "Flash Size in kB"
	help
	This option specifies the size of the flash in kB.  It is normally set by
	the board's defconfig file and the user should generally avoid modifying
	it via the menu configuration.

config FLASH_BASE_ADDRESS
	hex "Flash Base Address"
	help
	This option specifies the base address of the flash on the board.  It is
	normally set by the board's defconfig file and the user should generally
	avoid modifying it via the menu configuration.

source "arch/mips/core/Kconfig"

menu "Board Configuration"

source "arch/mips/soc/*/Kconfig"

endmenu
endmenu
