# Kconfig - Actions file system

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig ALARM
	bool
	prompt "Alarm"
	depends on ACTIONS_COMPONENT_FUNCTION
	depends on RTC
	select ALARM_MANAGER
	default n
	help
	This option enables actions input

config ALARM_MANAGER
	bool
	prompt "alarm manager Support"
	default n
	help
	This option enables actions alarm manager.

