# Kconfig - USB otg configuration options

#
# Copyright (c) 2020 Actions Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#

config SYS_LOG_USB_OTG_DRIVER_LEVEL
	int
	prompt "USB otg driver log level"
	depends on SYS_LOG
	default 0
	help
	  Sets log level for USB otg driver

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config USB_AOTG_OTG
	bool
	prompt "Actions OTG USB otg Controller Driver"
	depends on USB || USB_HOST
	default n
	help
	  Actions OTG USB otg Controller Driver.

if USB_AOTG_OTG

config USB_AOTG_OTG_VERSION
	hex
	prompt "Actions OTG USB otg Controller version"
	default 0x551A20FF
	help
	  Actions OTG USB otg Controller version.

config USB_AOTG_OTG_SUPPORT_HS
	bool
	prompt "Actions OTG USB otg Controller support high-speed"
	default y
	help
	  Actions OTG USB otg Controller support high-speed.

if USB

config USB_AOTG_DC_ENABLED
	bool
	prompt "Actions OTG USB Device Controller Driver"
	select USB_DEVICE_DRIVER
	default y
	help
	  Actions OTG USB Device mode.

endif # USB

if USB_HOST

config USB_AOTG_HC_ENABLED
	bool
	prompt "Actions OTG USB Host Controller Driver"
	select USB_HOST_DRIVER
	default y
	help
	  Actions OTG USB Host mode.

endif # USB_HOST

config USB_AOTG_DC_FS
	bool
	prompt "Actions OTG USB Device Controller (full-speed)"
	depends on USB_AOTG_OTG_SUPPORT_HS
	depends on USB_AOTG_DC_ENABLED
	default n
	help
	  Actions OTG USB Device Controller Driver (full-speed).

config USB_AOTG_DC_DMA
	bool
	prompt "Actions OTG USB Device Controller Driver DMA Support"
	depends on DMA && USB_AOTG_DC_ENABLED
	default n
	help
	  Actions OTG USB Device Controller Driver DMA Support.

config USB_AOTG_DC_MULTI_FIFO
	bool "Actions OTG USB Device Controller Driver multi-fifo Support"
	depends on USB_AOTG_DC_ENABLED
	default n
	help
	  Actions OTG USB Device Controller Driver multi-fifo Support, it may
	  be used in non-DMA controller to optimize performance. It has so many
	  limits that it will break up read()/read_async()/write() APIs, so be
	  careful to enable it.

config USB_AOTG_DC_RAM0
	bool
	prompt "URAM0 used for Actions OTG USB Device Controller Driver"
	depends on USB_AOTG_DC_ENABLED
	default y

config USB_AOTG_DC_RAM1
	bool
	prompt "URAM1 used for Actions OTG USB Device Controller Driver"
	depends on USB_AOTG_DC_ENABLED
	default y

config USB_AOTG_DC_RAM2
	bool
	prompt "URAM2 used for Actions OTG USB Device Controller Driver"
	depends on USB_AOTG_DC_ENABLED
	default y

config USB_AOTG_HC_RAM0
	bool
	prompt "URAM0 used for Actions OTG USB Host Controller Driver"
	depends on USB_AOTG_HC_ENABLED
	default n

config USB_AOTG_HC_RAM1
	bool
	prompt "URAM1 used for Actions OTG USB Host Controller Driver"
	depends on USB_AOTG_HC_ENABLED
	default n

config USB_AOTG_HC_RAM2
	bool
	prompt "URAM2 used for Actions OTG USB Host Controller Driver"
	depends on USB_AOTG_HC_ENABLED
	default y

endif # USB_AOTG_OTG
