# Kconfig - Actions Bluetooth SoC platform configuration options

#
# Copyright (c) 2018 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_ATS2859

config SOC
	string
	default ats2859
	

endif # SOC_ATS2859
