# Kconfig - Actions Bluetooth SoC configuration options

#
# Copyright (c) 2018 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

config  SOC_SERIES_WOODPECKER
	bool "Actions Woodpecker MIPS Bluetooth Series SoC"
	select CPU_MIPS_M4K
	select SOC_FAMILY_ACTS
	help
	 Enable support for Actions Woodpecker MIPS Bluetooth Series SoC
