# Kconfig - flash driver configuration options

#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

#
# flash driver
#
menuconfig NVRAM_CONFIG
	bool
	prompt "Non-volatile config support"
	default n
	help
	  Enable support for Non-volatile config.

if NVRAM_CONFIG

config NVRAM_STORAGE_FLASH
	bool
	prompt "NVRAM based on Flash"
	depends on FLASH
	default y

config NVRAM_STORAGE_RAMSIM
	bool
	prompt "Simulated NVRAM based on RAM"
	depends on FLASH && !NVRAM_STORAGE_FLASH
	default n

config NVRAM_STORAGE_DEV_NAME
	string
	prompt "Storage device name for NVRAM"
	default "spinor"

config NVRAM_FACTORY_REGION_SEGMENT_SIZE
	hex "Factory read-only region segment size"
	help
	  This option specifies the region segment size of factory config in the NVRAM,
	  It need be aligned with flash erase sector.

config NVRAM_STORAGE_FACTORY_RW_REGION
	bool
	prompt "Enable NVRAM FACTORY_RW_REGION"
	depends on FLASH
	default n

config NVRAM_FACTORY_RW_REGION_SEGMENT_SIZE
	hex "Factory region segment size"
	help
	  This option specifies the region segment size of factory config in the NVRAM,
	  It need be aligned with flash erase sector.

config NVRAM_USER_REGION_SEGMENT_SIZE
	hex "User region segment size"
	help
	  This option specifies the region segment size of user config in the NVRAM,
	  It need be aligned with flash erase sector.

config NVRAM_CONFIG_INIT_PRIORITY
	int "NVRAM config init priority"
	depends on NVRAM_CONFIG
	default 48
	help
	 This option controls the priority of SPINOR flash device
	 initialization. Lower values ensures that the device
	 is initialized earlier in the startup cycle. If unsure, leave
	 at default value.
endif
