# Kconfig - USB class drivers configuration options

#
# Copyright (c) 2016 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

if USB_DEVICE_STACK

config USB_CDC_ACM
	bool "USB CDC ACM Device Class Driver"
	default n
	help
	  USB CDC ACM device class driver

config CDC_ACM_PORT_NAME
	string "CDC ACM class device driver port name"
	depends on USB_CDC_ACM
	default "CDC_ACM"
	help
	  Port name through which CDC ACM class device driver is accessed

config CDC_ACM_INTERRUPT_EP_ADDR
	hex "CDC ACM class interrupt IN endpoint address"
	depends on USB_CDC_ACM
	default 0x82
	range 0x81 0x8f
	help
	  CDC ACM class interrupt IN endpoint address

config CDC_ACM_INTERRUPT_EP_MPS
	int "CDC ACM class (full-speed) interrupt IN endpoint size"
	depends on USB_CDC_ACM
	default 16
	help
	  CDC ACM class full-speed interrupt IN endpoint size

config CDC_ACM_INTERRUPT_EP_INTERVAL
	hex "CDC ACM class (full-speed) interrupt IN endpoint interval"
	depends on USB_CDC_ACM
	default 0x0a
	range 0x01 0xff
	help
	  CDC ACM class full-speed interrupt IN endpoint interval

config CDC_ACM_HS_INTERRUPT_EP_INTERVAL
	hex "CDC ACM class (high-speed) interrupt IN endpoint interval"
	depends on USB_CDC_ACM
	default 0x6
	range 0x01 0x10
	help
	  CDC ACM class high-speed interrupt IN endpoint interval

config CDC_ACM_BULK_IN_EP_ADDR
	hex "CDC ACM class bulk IN endpoint address"
	depends on USB_CDC_ACM
	default 0x81
	range 0x81 0x8f
	help
	  CDC ACM class bulk IN endpoint address

config CDC_ACM_BULK_OUT_EP_ADDR
	hex "CDC ACM class bulk OUT endpoint address"
	depends on USB_CDC_ACM
	default 0x01
	range 0x01 0x0f
	help
	  CDC ACM class bulk OUT endpoint address

config CDC_ACM_BULK_EP_MPS
	int "CDC ACM class (full-speed) bulk endpoints size"
	depends on USB_CDC_ACM
	default 64
	range 8 64
	help
	  CDC ACM class full-speed bulk endpoints size

config SYS_LOG_USB_CDC_ACM_LEVEL
	int "USB CDC ACM device class driver log level"
	depends on USB_CDC_ACM && SYS_LOG
	default 0
	help
	  Sets log level for USB CDC ACM device class driver

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config USB_CDC_ACM_MANUFACTURER
	string
	prompt "USB cdc acm device manufacture string"
	default "ZEPHYR"
	help
	  USB cdc acm device manufacturer string, can be configured by vendor.

config USB_CDC_ACM_PRODUCT
	string
	prompt "usb cdc acm device product string"
	default "usb-cdc-acm"
	help
	  USB cdc acm device product string, can be configured by vendor.

config USB_CDC_ACM_SN
	string
	prompt "USB cdc acm device serial-number string"
	default "0.01"
	help
	  USB cdc acm device serial-number string, can be configured by vendor.

config USB_MASS_STORAGE
	bool
	prompt "USB Mass Storage Device Class Driver"
	depends on FAT_FILESYSTEM_ELM
	select DISK_ACCESS
	default n
	help
	  USB Mass Storage device class driver

config USB_MASS_STORAGE_SHARE_THREAD
	bool "USB Mass Storage thread is shared"
	depends on USB_MASS_STORAGE
	default n
	help
	  USB Mass Storage thread is shared

config MASS_STORAGE_DISK_NAME
	string "Mass storage disk or drive name"
	depends on USB_MASS_STORAGE
	default "NO_LUN"
	help
	  Mass storage device disk or drive name

config MASS_STORAGE_DISK_PDRV
	hex
	prompt "Mass storage disk or drive number"
	depends on USB_MASS_STORAGE
	default 0xff
	help
	  Mass storage device disk or drive number

	  pdrv numbers are:

	  - 0 NOR

	  - 1 NAND

	  - 2 PSRAM

	  - 3 USB

	  - 4 SD

	  - 5 RAM

	  - 0xff NO_LUN

config MASS_STORAGE_STACK_SIZE
	int "USB Mass Storage stack size"
	depends on USB_MASS_STORAGE
	default 1024
	help
	  USB Mass Storage stack size

config MASS_STORAGE_PRIORITY
	int "USB Mass Storage thread priority"
	depends on USB_MASS_STORAGE
	default -5
	help
	  USB Mass Storage thread priority

config MASS_STORAGE_BUF_SIZE
	int "USB Mass Storage buffer size"
	depends on USB_MASS_STORAGE
	default 512
	range 512 131072
	help
	  USB Mass Storage buffer size should be multiple of 512

config MASS_STORAGE_IN_EP_ADDR
	hex "Mass storage bulk IN endpoint size"
	depends on USB_MASS_STORAGE
	default 0x82
	range 0x81 0x8f
	help
	  Mass storage bulk IN endpoint size

config MASS_STORAGE_OUT_EP_ADDR
	hex "Mass storage bulk OUT endpoint address"
	depends on USB_MASS_STORAGE
	default 0x01
	range 0x01 0x0f
	help
	  Mass storage bulk OUT endpoint address

config MASS_STORAGE_BULK_EP_MPS
	int
	prompt "Mass storage full-speed bulk endpoints size"
	depends on USB_MASS_STORAGE
	default 64
	range 8 64
	help
	  Mass storage device class full-speed bulk endpoints size

config MASS_STORAGE_WP
	bool
	prompt "Mass storage write protect"
	depends on USB_MASS_STORAGE
	default n
	help
	  Enable Mass storage write protect

config MASS_STORAGE_SWITCH_TO_ADFU
	bool
	prompt "Mass storage switch to ADFU"
	depends on USB_MASS_STORAGE
	default y
	help
	  Enable Mass storage switch to ADFU

config SYS_LOG_USB_MASS_STORAGE_LEVEL
	int
	prompt "USB Mass Storage device class driver log level"
	depends on USB_MASS_STORAGE && SYS_LOG
	default 0
	help
	  Sets log level for USB Mass Storage device class driver

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config MASS_STORAGE_MANUFACTURER
	string
	prompt "USB Mass Storage device manufacturer string"
	depends on USB_MASS_STORAGE
	default "Actions"
	help
	  USB Mass Storage device manufacturer string

config MASS_STORAGE_PRODUCT
	string
	prompt "USB Mass Storage device product string"
	depends on USB_MASS_STORAGE
	default "MSC Sample"
	help
	  USB Mass Storage device product string

config MASS_STORAGE_SN
	string
	prompt "USB Mass Storage device serial number string"
	depends on USB_MASS_STORAGE
	default "0.01"
	help
	  USB Mass Storage device serial number string

config USB_DEVICE_BLUETOOTH
	bool
	prompt "USB Bluetooth Device Class Driver"
	select BT
	select BT_HCI_RAW
	default n
	help
	  USB Bluetooth device class driver

config BLUETOOTH_INT_EP_MPS
	int
	depends on USB_DEVICE_BLUETOOTH
	default 16
	range 8 64
	help
	  Bluetooth device class interrupt endpoint size

config BLUETOOTH_BULK_EP_MPS
	int
	depends on USB_DEVICE_BLUETOOTH
	default 64
	range 8 64
	help
	  Bluetooth device class bulk endpoint size

source "subsys/usb/class/netusb/Kconfig"

source "subsys/usb/class/hid/Kconfig"

source "subsys/usb/class/sourcesink/Kconfig"

source "subsys/usb/class/audio_sourcesink/Kconfig"

source "subsys/usb/class/stub/Kconfig"

config USB_DFU_CLASS
	bool
	prompt "USB DFU Class Driver"
	depends on IMG_MANAGER
	select MPU_ALLOW_FLASH_WRITE
	default n
	help
	  USB DFU class driver

config USB_DFU_MAX_XFER_SIZE
	int
	depends on USB_DFU_CLASS
	default 64

config USB_DFU_DETACH_TIMEOUT
	int
	depends on USB_DFU_CLASS
	default 1000

endif # CONFIG_USB_DEVICE_STACK
