# Kconfig - Input device configuration options
#
#
# Copyright (c) 2017 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig POWER_SUPPLY
	bool
	prompt "Power supply drivers"
	default n
	help
	  Enable power supply drivers configuration

if POWER_SUPPLY

config POWER_SUPPLY_ACTS_BATTERY
	bool "Actions SoC battery power supply driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC battery driver.

config BATTERY_ACTS_ADC_NAME
	string "ADC device name for sampling battery voltage"
	default "ADC_0"
	help
	  This option specifies the ADC device name for sampling
	  battery voltage.

config BATTERY_ACTS_ADC_CHAN
	int "ADC channel number for sampling battery voltage"
	default 0
	help
	  This option specifies the ADC channel number for sampling
	  battery voltage.

config BATTERY_CAP_CTRL
	bool "Actions SoC battery capacity control"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support battery capacity control.

endif # POWER_SUPPLY
