# Kconfig - flash driver configuration options

#
# Copyright (c) 2016 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

#
# flash driver
#
menuconfig DVFS
	bool
	prompt "support DVFS"
	default n
	select DVFS_DYNAMIC_LEVEL
	help
	  Enable support for dynamic voltage and frequency scaling.

if DVFS

config DVFS_DYNAMIC_LEVEL
	bool "support dynamic DVFS level"
	depends on DVFS
	default n
	help
	  Support dynamic DVFS level

endif
