# Kconfig - DSP device configuration options
#
#
# Copyright (c) 2018 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

#
# DSP options
#

config DSP_ACTS_DEV_NAME
	string "Device name of DSP Controller"
	default "DSP_ANDES"
	help
	  Device name of DSP Controller

config DSP_ACTIVE_POWER_LATENCY_MS
	int "dsp active power latency in milliseconds"
	default -1
	depends on DSP
	help
	  Set the latency of power-off dsp after dsp became idle. Set negative (< 0)
	  if you want to disable this feature.

config DSP_DEBUG_PRINT
    bool "enable dsp debug print"
    default n
    depends on DSP
    help
       enable dsp debug print 