# Kconfig - Actions iterarator

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig ITERATOR
	bool
	prompt "Actions Iterator Support"
	depends on ACTIONS_UTILS
	default n
	help
	  This option enables actions iterator.

config FILE_ITERATOR
	bool
	prompt "File Iterator Support"
	depends on ITERATOR
	select FILE_SYSTEM
	default n
	help
	  This option enables actions file iterator.

config PLIST_SUPPORT_FOLDER_CNT
	int
	prompt "Play list folder count support"
	depends on ITERATOR
	default 100
	help
	  This option set the folder count support by the play list.

config SUPPORT_FILE_FULL_NAME
	bool
	prompt "Play list support file full name"
	depends on ITERATOR
	default n
	help
	  This option enables the file full name support.

