# Kconfig - Actions power manager

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig POWER
	bool
	prompt "Power"
	depends on ACTIONS_COMPONENT_FUNCTION
	select POWER_MANAGER
	default n
	help
	This option enables actions power 
	
config POWER_MANAGER
	bool
	prompt "power manager"
	depends on POWER
	default n
	help
	This option enables actions power manager.





