# Kconfig - USB host storage driver configuration options

#
# Copyright (c) 2020 Actions Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#

config USB_HOST_STORAGE
	bool
	prompt "USB Host Mass Storage support"
	default n
	help
	  Enable USB Host Mass Storage support.
