# Kconfig - USB host class drivers configuration options

#
# Copyright (c) 2020 Actions Corporation.
#
# SPDX-License-Identifier: Apache-2.0
#

if USB_HOST_STACK

source "subsys/usb/host/storage/Kconfig"

endif # USB_HOST_STACK
