# Kconfig - USB device stack configuration options

#
# Copyright (c) 2016 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig USB_DEVICE_STACK
	bool
	prompt "USB device stack"
	depends on USB_DEVICE_DRIVER || ARCH_POSIX
	default n
	help
	  Enable USB device stack.

if USB_DEVICE_STACK

config SYS_LOG_USB_DEVICE_LEVEL
	int
	prompt "Sets log level for the USB device stack"
	default 0
	depends on SYS_LOG
	help
	  This option sets log level for the USB device stack.

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config USB_DEVICE_SELF_POWERED
	bool "Enable USB device with self-powered"
	default n
	help
	  This option enables USB device with self-powered.

config USB_DEVICE_REMOTE_WAKEUP
	bool "Enable support for remote wakeup"
	default n
	help
	  This option requires USBD peripheral driver to also support remote wakeup.

config USB_DEVICE_STRING_DESC_MAX_LEN
	int
	prompt "The max len of device string descriptor"
	default 20
	help
	  The max len of device string descriptor.

config USB_DEVICE_TRANSFER
	bool
	prompt "Enable usb transfer work"
	default n
	help
		Enable usb transfer work.

config USB_COMPOSITE_DEVICE_CLASS_NUM
	int
	prompt "Number of single class devices in composite devices"
	default 2
	help
	  Number of single class devices in composite devices.

config USB_REQUEST_BUFFER_SIZE
	int "Set buffer size for Standard, Class and Vendor request handlers"
	range 256 65536 if USB_DEVICE_NETWORK_RNDIS
	range 8 65536
	default 256 if USB_DEVICE_NETWORK_RNDIS
	default 1024 if USB_DEVICE_LOOPBACK
	default 128

config USB_DEVICE_BOS
	bool
	prompt "Enable USB Binary Device Object Store (BOS)"
	default n

config USB_DEVICE_FIX_ENDP_DESC_DISABLED
	bool
	prompt "Disable Fixing USB Endpoint Descriptors"
	default y

source "subsys/usb/class/Kconfig"

endif # USB_DEVICE_STACK



menuconfig USB_HOST_STACK
	bool
	prompt "USB host stack"
	depends on USB_HOST_DRIVER
	default n
	help
	  Enable USB host stack.

if USB_HOST_STACK

config SYS_LOG_USB_HOST_LEVEL
	int
	prompt "Sets log level for the USB host stack"
	default 0
	depends on SYS_LOG
	help
	  This option sets log level for the USB host stack.

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config USB_HOST_MAXINTERFACES
	int
	prompt "max number of interfaces of one configure"
	default 1

config USB_HOST_MAXENDPOINTS
	int
	prompt "max number of endpoints of one interface"
	default 2

config USB_HOST_RAW_DESCRIPTORS_SIZE
	int
	prompt "max size of the whole configure descriptor"
	default 32

source "subsys/usb/host/Kconfig"

endif # USB_HOST_STACK
