# Kconfig - Actions stream function

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig STREAM
	bool
	depends on ACTIONS_UTILS
	prompt "Actions Stream Support"
	default n
	help
	This option enables actions stream .

config FILE_STREAM
	bool
	prompt "file stream Support"
	depends on STREAM
	select FILE_SYSTEM
	default n
	help
	This option enables actions file stream .

config LOOP_FSTREAM
	bool
	prompt "loop fstream Support"
	depends on STREAM
	select FILE_SYSTEM
	default n
	help
	This option enables actions loop fstream .

config BUFFER_STREAM
	bool
	prompt "buffer stream Support"
	depends on STREAM
	default n
	help
	This option enables actions buffer stream .

config RINGBUFF_STREAM
	bool
	prompt "buffer stream Support"
	depends on STREAM
	select ACTS_RING_BUFFER
	default n
	help
	This option enables actions buffer stream .

config PSRAM_STREAM
	bool
	prompt "Psram Stream Support"
	depends on STREAM
	default n
	help
	This option enables actions Psram stream .

config CLONE_STREAM
	bool
	prompt "clone stream Support"
	depends on STREAM
	default n
	help
	This option enables actions clone stream .

config ZERO_STREAM
	bool
	prompt "zero stream Support"
	depends on STREAM
	default n
	help
	This option enables actions zero stream .
