CONFIG_MIPS=y
CONFIG_USE_MIPS16E=y
CONFIG_BOARD_ATS2859_DVB=y
CONFIG_BOARD="ATS2859_dvb"
CONFIG_SOC_FAMILY_ACTIONS=y
CONFIG_SOC_SERIES_WOODPECKER=y
CONFIG_SOC_ATS2859=y
CONFIG_ACTS_TIMER=y
CONFIG_ACTS_HRTIMER=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_EARLY_CONSOLE=y
CONFIG_STDOUT_CONSOLE=y
CONFIG_UART_CONSOLE_ON_DEV_NAME="UART_0"

CONFIG_SERIAL=y
CONFIG_UART_ACTS=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_ACTS_PORT_0=y
CONFIG_UART_ACTS_PORT_0_NAME="UART_0"
#CONFIG_UART_ACTS_PORT_0_BAUD_RATE=921600
CONFIG_UART_ACTS_PORT_0_BAUD_RATE=115200
CONFIG_UART_ACTS_PORT_0_PRIORITY=0
CONFIG_UART_ACTS_PORT_1=y
CONFIG_UART_ACTS_PORT_1_NAME="UART_1"
CONFIG_UART_ACTS_PORT_1_BAUD_RATE=115200
CONFIG_UART_ACTS_PORT_1_PRIORITY=0

#uart config
CONFIG_UART_TX_DMA=6
CONFIG_UART_TX_PIN=23
CONFIG_UART_RX_PIN=16
CONFIG_UART_BR=115200
CONFIG_UART_CONSOLE_DMA_SUPPORT=y
CONFIG_UART_CONSOLE_DMA_CHANNEL=1

#uart pipe
CONFIG_UART_PIPE=y
CONFIG_UART_PIPE_ON_DEV_NAME="UART_1"

CONFIG_FLASH=y
CONFIG_FLASH_SIZE=2048
CONFIG_SPI_PSRAM=n
CONFIG_XSPI_NOR_ACTS=y
CONFIG_XSPI_PSRAM_ACTS=n
CONFIG_XSPI_NOR_ACTS_DEV_NAME="xspi_nor"
CONFIG_XSPI_NOR_ACTS_IO_BUS_WIDTH=4
CONFIG_XSPI_NOR_ACTS_DATA_PROTECTION_ENABLE=n
CONFIG_XSPI_NOR_ACTS_DEV_INIT_PRIORITY=45
CONFIG_XSPI_NOR_ACTS_DEV_TEST_DELAYCHAIN_PRIORITY=58
CONFIG_XSPI_NOR_ACTS_DUMP_INFO=y
CONFIG_XSPI_MEM_ACTS=y
CONFIG_XSPI_NOR_ROM_ACTS=n
CONFIG_XSPI_NOR_AUTO_CHECK_RB=n
CONFIG_XSPI_ACTS_FREQ_MHZ=90
CONFIG_XSPI_NOR_ACTS_DELAY_CHAIN=8
CONFIG_SOC_SPI_USE_SPLL=n
CONFIG_SOC_SPI_USE_COREPLL=y
CONFIG_XSPI1_NOR_ACTS=n
CONFIG_XSPI1_ACTS_FREQ_MHZ=48
CONFIG_XSPI1_ACTS_USE_DMA=y
CONFIG_XSPI0_USE_COREPLL=n
CONFIG_XSPI1_USE_COREPLL=n
CONFIG_XSPI2_USE_COREPLL=n

CONFIG_SPI=n
CONFIG_SPI_1=n
CONFIG_SPI_ACTS=n
CONFIG_SPI_LEGACY_API=n
CONFIG_SPI_1_ACTS_DELAY_CHAIN=8

CONFIG_NVRAM_CONFIG=y
CONFIG_NVRAM_STORAGE_FLASH=y
CONFIG_NVRAM_STORAGE_DEV_NAME="xspi_nor"
CONFIG_NVRAM_FACTORY_REGION_SEGMENT_SIZE=0x1000
CONFIG_NVRAM_STORAGE_FACTORY_RW_REGION=y
CONFIG_NVRAM_FACTORY_RW_REGION_SEGMENT_SIZE=0x1000
CONFIG_NVRAM_USER_REGION_SEGMENT_SIZE=0x1000
CONFIG_NVRAM_CAHCE=y

CONFIG_GPIO=y
CONFIG_GPIO_ACTS=y
CONFIG_GPIO_ACTS_DEV_NAME="GPIO_0"
CONFIG_GPIO_WIO_ACTS=y
CONFIG_GPIO_WIO_ACTS_DEV_NAME="WIO"

CONFIG_DMA=y
CONFIG_DMA_ACTS_WOODPECKER=n
CONFIG_VDMA_ACTS_WOODPECKER=y

CONFIG_RANDOM_GENERATOR=y
CONFIG_RANDOM_ACTS_TRNG=y

CONFIG_ADC=y
CONFIG_ADC_ACTS=y

CONFIG_INPUT_DEV=y
CONFIG_INPUT_DEV_ACTS_ADCKEY=y
CONFIG_INPUT_DEV_ACTS_ADCKEY_ADC_CHAN=4
CONFIG_INPUT_DEV_ACTS_ONOFF_KEY=y
CONFIG_PWM=y
CONFIG_PWM_ACTS=y

CONFIG_I2C=y
CONFIG_I2C_ACTS=y
CONFIG_I2C_1=y
CONFIG_I2C_1_IRQ_PRI=2

CONFIG_I2C_SLAVE=n
CONFIG_I2C_SLAVE_0=n
CONFIG_I2C_SLAVE_ACTS=n
CONFIG_I2C_SLAVE_0_SCL_PIN=0
#- 0 - 19- 30- 42
CONFIG_I2C_SLAVE_0_SDA_PIN=1
#- 1 - 19- 29- 43

CONFIG_CPU0_EJTAG_ENABLE=n
CONFIG_CPU0_EJTAG_GROUP=3
CONFIG_CPU0_PANIC_EJTAG_ENABLE=y

CONFIG_HOTPLUG_LINEIN_DETECT=y
CONFIG_HOTPLUG_LINEIN_DETECT_ADC_CHAN=4
CONFIG_HOTPLUG_DC5V_DETECT=y
CONFIG_HOTPLUG_DC5V_WIO=1
CONFIG_HOTPLUG_DC5V_LEVEL=1

CONFIG_MMC=y
CONFIG_MMC_0=y
CONFIG_MMC_0_DEVICE_NAME="MMC_0"
CONFIG_MMC_0_IO_WIDTH=1
CONFIG_MMC_0_ACTS_DMA_CHAN=-1
CONFIG_MMC_SDCARD=y
CONFIG_MMC_SDCARD_MMC_DEV_NAME="MMC_0"
CONFIG_MMC_ACTS=y
CONFIG_MMC_ACTS_DMA=y

CONFIG_MPU_MONITOR_RAMFUNC_WRITE=y

CONFIG_POWER_SUPPLY=y
CONFIG_POWER_SUPPLY_ACTS_BATTERY=y
CONFIG_BATTERY_ACTS_ADC_NAME="ADC_0"
CONFIG_BATTERY_ACTS_ADC_CHAN=0
CONFIG_BATTERY_CAP_CTRL=n

#¿∂—¿∆µ∆´≈‰÷√
CONFIG_COMPENSATION=y
CONFIG_COMPENSATION_ACTS=y
CONFIG_TEMP_COMPENSATION_ACTS=n
CONFIG_COMPENSATION_DEFAULT_HOSC_CAP=119
CONFIG_COMPENSATION_HOSC_CAP_NVRAM_PRIORITY=n

CONFIG_SOC_MAPPING_PSRAM=n
#CONFIG_SOC_MAPPING_PSRAM_ADDR=0xbe800000
#CONFIG_SOC_MAPPING_PSRAM_SIZE=0x200000
CONFIG_SOC_MAPPING_PSRAM_FOR_OS=n
CONFIG_SOC_PSRAM_DCACHE=n

#CONFIG_RAMFUNCTION_MEMORY=n

#disk config
CONFIG_DISK_ACCESS_SD=y
CONFIG_DISK_ACCESS_NOR=y
CONFIG_DISK_NOR_DEV_NAME="xspi_nor"
CONFIG_DISK_NOR_VOLUME_SIZE=0xc0000
CONFIG_DISK_NOR_START=0x120000
CONFIG_SD_FS=y
CONFIG_SD_FS_VADDR_START=0xbe800000

#audio config
CONFIG_AUDIO_OUT_I2STX0_SUPPORT=y

CONFIG_AUDIO_POWERON_OPEN_PA=y
CONFIG_BOARD_EXTERNAL_PA_ENABLE=n
# 0--classA/B; 1--classD
CONFIG_EXTERN_PA_CLASS=1

# RTC options
CONFIG_RTC=y
CONFIG_RTC_ACTS=y

# Timer Input Capture options
CONFIG_ACTS_TIMER3_CAPTURE=n

# SEG LED options
CONFIG_SEG_LED_DISPLAY=y

CONFIG_PCMBUF_HE_THRESHOLD=0x30
CONFIG_PCMBUF_HF_THRESHOLD=0x40

# USB controller
CONFIG_SYS_LOG_USB_OTG_DRIVER_LEVEL=3
CONFIG_USB_AOTG_OTG=y
CONFIG_USB_AOTG_OTG_VERSION=0x551A18CF
CONFIG_USB_AOTG_OTG_SUPPORT_HS=n

#FM type
CONFIG_FM_QN8035=n
CONFIG_FM_RDA5820=y
CONFIG_FM_EXT_24M=n
CONFIG_FM_TRANSMITTER=y

# IR options
CONFIG_INPUT_DEV_ACTS_IRKEY=n
CONFIG_INPUT_DEV_ACTS_IRKEY_POLL_USERCODE=y
CONFIG_INPUT_DEV_ACTS_IRKEY_CORRECT_USERCODE=n

# SPDIFRX options
CONFIG_AUDIO_IN_SPDIFRX_SUPPORT=n
CONFIG_AUDIO_IN_I2SRX0_SUPPORT=y
