# Kconfig - Actions input menager

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig INPUT
	bool
	prompt "Input"
	depends on ACTIONS_COMPONENT_FUNCTION
	select INPUT_MANAGER
	default n
	help
	This option enables actions input 
	
config INPUT_MANAGER
	bool
	prompt "INPUT manager Support"
	depends on INPUT
	select KEY
	default n
	help
	This option enables actions input manager.

config INPUT_MUTIPLE_CLICK
	bool
	prompt "INPUT mutiple click Support"
	depends on INPUT_MANAGER
	default n
	help
	This option enables actions input manager.






